        .param1 {
            color: rgb(21, 255, 0);
        }
        h1 {
            color: cyan;
        }
        p {
            font-size: 14px;
        }
        body {
            background-color: yellow;
        }
        .class1 {
            color: brown;
            font-size: 13px;
        }
/* ce ci est un un commentaire css de fichier monstyle cours de programmation
    